
body {
    padding-top: 35px;
    padding-left: 255px;
    background-color: #393939;
}

h1, h2, h3, h4, h5 {
    color: #D3547A;
}

p, td, th {
    color: #DDD8B9;
    font-size: 18px;
}

.form-control {
    margin-top: 12px;
    margin-bottom: 25px;
}

